/* Custom CSS for Todo List */
body {
    font-family: 'Protest Strike', sans-serif;
  }
  
  .card {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
  }
  
  .card-header {
    background-color: #f8f9fa;
  }
  
  .card-body {
    background-color: #fff;
  }
  
  .btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
  }
  
  .btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
  }
  